*{
  background-color: black;
 
  color:rgb(44, 165, 165);
}
#parent
{
  width: 500px;
  height: 500px;
  background-color: brown;
  
  position:absolute;
}
form {
  background-color: blueviolet;
  height: 30px;
  width: 70%;
  border: 2px;
  position: absolute;
  align-items: center;
  justify-items: center;
  left: 40px;
  top:120px;
}